.signed-user-login-feature{
    background-color: field;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    max-width: 700px;
    height: fit-content;
    padding: 0% 0% 3% 0%;
    border-radius: 10px;
}

.signed-user-login-feature > .title{
    font-size: 2em;
    font-weight: bold;
    margin: 3vh;
}

.signed-user-login-feature > .signed-user-login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.signed-user-login-feature > .signed-user-login-form > input[type="text"]{
    width: 80%;
    text-align: center;
    font-size: 1em;
    margin: 1vh;
    border-radius: 3px;
    padding: 0px;
    border: none;
}

.signed-user-login-feature > .signed-user-login-form > input[type="password"]{
    width: 80%;
    text-align: center;
    font-size: 1em;
    margin: 1vh;
    border-radius: 3px;
    padding: 0px;
    border: none;
}

.signed-user-login-feature > .signed-user-login-form > input[type="submit"]{
    
    background-color: #F77F00;
    width: 80%;
    text-align: center;
    font-size: 1em;
    margin: 1vh;
    border-radius: 3px;
    padding: 0px;
    border: none;
    color: field;
}

.signed-user-login-feature > .signed-user-login-result-div{
    width: 80%;
    margin: 1vh;
}

.signed-user-login-feature > .signed-user-login-result-div > .page-link{
    color: #F77F00;
}