<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>notex_backend</display-name>
	<description>A template web app</description>

	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>configuration.CorsFilter</filter-class>
		<init-param>
        <param-name>cors.allowed.methods</param-name>
        <param-value>GET, POST, PUT, DELETE, OPTIONS, HEAD</param-value>
    </init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- === Servlets ============================================================== -->
	<servlet>
		<servlet-name>registrationServlet</servlet-name>
		<servlet-class>registration.servlets.RegistrationServlet</servlet-class>
		<multipart-config></multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>registrationServlet</servlet-name>
		<url-pattern>/registrationServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginAndAuthServlet</servlet-name>
		<servlet-class>loginAndAuth.servlets.LoginAndAuthServlet</servlet-class>
		<multipart-config></multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginAndAuthServlet</servlet-name>
		<url-pattern>/loginAndAuthServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>signedUserServlet</servlet-name>
		<servlet-class>signedUserHandling.servlets.SignedUserServlet</servlet-class>
		<multipart-config>
			<max-file-size>50000000</max-file-size>
			<max-request-size>100000000</max-request-size>
			<file-size-threshold>1000000000</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>signedUserServlet</servlet-name>
		<url-pattern>/signedUserServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>searchServlet</servlet-name>
		<servlet-class>userHandling.servlets.SearchServlet</servlet-class>
		<multipart-config></multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchServlet</servlet-name>
		<url-pattern>/searchServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>reviewServlet</servlet-name>
		<servlet-class>reviewHandling.servlets.ReviewServlet</servlet-class>
		<multipart-config></multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>reviewServlet</servlet-name>
		<url-pattern>/reviewServlet</url-pattern>
	</servlet-mapping>


	<!-- === Welcome files ============================================================== -->

	<welcome-file-list>
		<welcome-file>/homeUtente.html</welcome-file>
	</welcome-file-list>

	<!-- === Error handling ============================================================== -->

	<error-page>
		<error-code>404</error-code>
		<location>/errors/notfound.html</location>
	</error-page>

</web-app>