.icon-button{
    /*display*/
    display: flex;
    align-items: center;
    justify-content: center;

    /*size*/
    height: 3rem;
    width: 3rem;

    /*borders and spaces*/
    border-radius: 3px;
}

.icon-button.default:hover{
    /*background*/
    background-color: #EAE2B7;
}

.icon-button.reverse:hover{
    /*background*/
    background-color: whitesmoke;
}

.icon-button > .icon-img{
    /*size*/
    width: 2rem;
    height: auto;
}