.icon-div{
    /*display*/
    display: flex;
    align-items: center;
    justify-content: center;

    /*size*/
    width: 30px;
    height: 30px;

    /*borders and spaces*/
    border-radius: 3px;
}

.icon-div > .icon-img{
    /*size*/
    width: 26px;
    height: auto;
}