.nav-bar-div{
    /*display*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    position: relative;

    /*size*/
    width: auto;
    height: 3rem;

    /*borders and spaces*/
    border-radius: 3px;

}

.nav-bar-div > .option{
     /*display*/
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     
    /*size*/
    height: 3rem;

    /*borders and spaces*/
    padding: 0rem 1rem 0rem 1rem;
    border-right: 1px solid #F77F00;

    /*text*/
    color: #F77F00;
    text-align: center;
    text-decoration: none;
}

.nav-bar-div > .option:hover{
    /*text*/
    text-decoration: underline;
}

.nav-bar-div > .hamburger-label > input{
    /*display*/
    display: none;
}


.nav-bar-div > .hamburger-label > .icon-div:hover{
    /*backgorund*/
    background-color: #EAE2B7;
}

.nav-bar-div > .hamburger-label:has( > input:checked) > .icon-div{
    /*backgorund*/
    background-color: #EAE2B7;
}

.nav-bar-div >  .hamburger-label > .pages-div{
    /*background*/
    background-color: #EAE2B7;

    /*display*/
    display: none;
    flex-direction: column;

    /*position*/
    position: absolute;
    right:0rem;
    top:3rem;

    /*size*/
    width: 15rem;
    border: 1px solid #F77F00;
    border-radius: 3px;
}

.nav-bar-div >  .hamburger-label > input:checked ~ .pages-div{
    /*display*/
    display: flex;

    z-index: 1;
}

.nav-bar-div >  .hamburger-label > .pages-div > .page-link{
    
    display: flex;
    align-items: center;
    justify-content: start;
    
    /*size*/
    width: 90%;
    height: 3rem;

    /*border and spaces*/
    border: none;
    padding-left: 10%; 

    /*text*/
    color: #F77F00;
}


.nav-bar-div >  .hamburger-label > .pages-div > .page-link:hover{
    /*background*/
    background-color: #FCBF49;
    
    /*text*/
    text-decoration: underline;
}

.nav-bar-div >  .hamburger-label > .pages-div > .page-link.current{
    /*background*/
    background-color: #FCBF49;

    /*text*/
    text-decoration: underline;
}