.position-div{
    /*display*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    /*size*/
    width: 100%;
}

.position-div > .step-div{
    /*display*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /*size*/
    height:3rem;

}

.position-div > .step-div > .name{
    
    /*size*/
    min-width: 10rem;

    /*borders and spaces*/
    border-radius: 10px;
    margin: 0.5rem;

    /*text*/
    text-align:center;
    font-size: 2rem;
    font-style: bold;
    color: #F77F00;
}
.position-div > .step-div > .name:hover{
    /*text*/
    text-decoration: underline;
}

.position-div > .step-div > .icon{
    /*size*/
    width: 3rem;
    height: 3rem;
    transform: rotate(270deg);
}