.score-div{
    /*display*/
    display: flex;
    flex-direction: row;
    /*size*/
    height: 3rem;
    width: 4rem;
    align-items: center

}

.score-div > p{
    width: 2rem;
    margin-block: 0rem;
}
.score-div > .icon-div{
    width: 1.5rem;
    height:2.5rem;
    margin: 0.25rem;
}
.score-div > .icon-div > .icon-img{
    width: 1.5rem;
    height: auto;
} 


