.score-div{
    /*display*/
    display: flex;
    flex-direction: row;
    /*size*/
    width: 7.5rem;
    height: 3rem;

}
.score-div > .icon-div{
    /*size*/
    width: 1.5rem;
    height:3rem;
}
.score-div > .icon-div > .icon-img{
    /*size*/
    width: 1rem;
    height: auto;
}
