.assistente-element-div {
  /*backgorund*/
  background-color: field;

  /*display*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: black;

  /*size*/
  width: 90%;
  height: 30px;
  /*position*/
  position: relative;

  /*borders and spaces*/
  margin-top: 10px;
  border-radius: 3px;
  border: none;
  padding: 0px;
  outline: solid black 1px;
  outline-offset: -1px;
}

.assistente-element-div > .icon-username-div {
  /*display*/
  display: flex;
  flex-direction: row;
}

.assistente-element-div > .icon-username-div > .icon {
  /*display*/
  display: flex;
  flex-direction: row;
}

.assistente-element-div > .icon-username-div > .username {
  /*position*/
  position: absolute;
  top: 0px;
  left: 30px;

  /*size*/
  height: 30px;

  /*borders and spaces*/
  padding: 5px;
}
