.registration-page{
    background-color: #003049;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*size*/
    width: 100vw;
    height: 100vh;
}

.registration-page > .nav-bar-div{
    position: absolute;
    top:1vh;
    right: 1vw;
}

.registration-page > .logo{
    height: 25vh;
    position: absolute;
    top: 5vh; 
}

.registration-page > .registration-feature{
    margin:2vh;
    
    /*size*/
    height: 60vh;

    /*position*/
    position: absolute;
    bottom: 0vh;
}