.registration-page{
    background-color: #003049;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*size*/
    width: 100vw;
    height: 100vh;
}

.registration-page > .nav-bar-div{
    position: absolute;
    top:30px;
    right: 30px;
}

.registration-page > .logo{
    width: 500px;
    margin: 10px;
}

.registration-page > .registration-feature{
    margin:10px;
    width: 500px;
    height: 400px;
}