.registration-page{
    background-color: #003049;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /*size*/
    width: 100vw;
    height: 100vh;

    overflow: scroll;
}

.registration-page::-webkit-scrollbar {
    display: none;
}

.registration-page > .nav-bar-div{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.registration-page > .logo{
    margin: 6rem 0rem 3rem 0rem;
}

.registration-page > .registration-feature{
    
    /*size*/
    width: 80%;
    max-width: 600px;
    height: 30rem;


}