.note-sub-div {
  /*display*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*size*/
  width: auto;
  height: 12rem;
  aspect-ratio: 1;

  /*borders and spaces*/
  margin: 1vh 
}

.note-sub-div > .icon-name-div {
  /*display*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*size*/
  width: 100%;
  height: 80%;

  /*borders and spaces*/
  border-radius: 10px;

  /*text*/
  color: #f77f00;
}

.note-sub-div:hover > .icon-name-div {
  /*background*/
  background-color: #003049;
}

.note-sub-div > .icon-name-div > .icon-img {
  /*size*/
  height: 70%;
  width: auto;
  margin: 2.5%;
}

.note-sub-div > .icon-name-div > .name {
  /*size*/
  max-width: 100%;
  height: 3rem;
  margin: 2.5%;
}

.note-sub-div > .actions {
  /*display*/
  visibility: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /*size*/
  width: 100%;
  height: 3rem;
}

.note-sub-div:hover > .actions {
  /*display*/
  visibility: visible;
}

.note-sub-div:hover > .actions > a > .icon-div:hover {
  /*background*/
  background-color: #EAE2B7;
}