.update-note-modal-background.hidden{
  /*display*/
  display: none;
}

.update-note-modal-background.shown{
  /*background*/
  backdrop-filter: blur(10px);
  
  /*display*/
  display: flex;
  align-items: center;
  justify-content: center;

  /*position*/
  position:fixed;
  top:0px;
  left: 0px;

  /*size*/
  width: 100vw;
  height: 100vh;
}

.update-note-modal-background.shown > .update-note-modal{
  /*background*/
  background-color: #003049;
  /*display*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  /*position*/
  position: relative;

  /*size*/
  width: 90%;
  max-width: 600px;
  height: fit-content;
  aspect-ratio: 1;

  /*borders and spaces*/
  border-radius: 10px;
}

.update-note-modal-background.shown > .update-note-modal > .icon-button.cross{
  /*position*/
  position: absolute;
  top:1rem;
  left: 1rem;
}

.update-note-modal-background.shown > .update-note-modal > .title{
  /*text*/
  color:#F77F00;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  /*border and spaces*/
  margin:1.5rem 0rem 1.5rem 0rem;

}


.update-note-modal-background.shown > .update-note-modal > .title > p{
  margin-block: 0rem;
}

.update-note-modal-background.shown > .update-note-modal > .update-note-form{
  /*display*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;

  /*size*/
  width: auto;
  height: 80%;
  aspect-ratio: 1;

}

.update-note-modal-background.shown > .update-note-modal > .update-note-form::-webkit-scrollbar{
  /*display*/
  display: none;
}

.update-note-modal-background.shown > .update-note-modal > .update-note-form > .tag-list-input{
  /*size*/
  width: 100%;
  height: 10.5rem;
}

.update-note-modal-background.shown > .update-note-modal > .update-note-form > input[type="text"]{
 
  /*size*/
  height:3rem;
  width: 100%;

  /*text*/
  font-size: 1rem;
  text-align: center;

  /*borders and spaces*/
  margin-bottom: 0.5rem;
  border-radius: 3px;
  border: none;
  padding: 0px;
  outline: solid black 1px;
  outline-offset: -1px;
}

.update-note-modal-background.shown > .update-note-modal > .update-note-form > input[type="submit"]{
  /*background*/
  background-color: #F77F00;

  /*text*/
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;

  /*size*/
  height:3rem;
  width: 100%;

  /*borders and spaces*/
  margin-bottom: 0.5rem;
  border-radius: 3px;
  border: none;
  padding: 0px;
  outline: solid black 1px;
  outline-offset: -1px;
}

.update-note-modal-background.shown > .update-note-modal > .update-note-form > input[type="file"]{

  /*text*/
  color: #F77F00;;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;

  /*size*/
  height:3rem;
  width: 100%;

  /*borders and spaces*/
  margin-bottom: 0.5rem;
}


