.virtual-desk-page{

    /*size*/
    width: 100vw;
    height: 100vh;
}

.virtual-desk-page > .header-div{
    background-color: #003049;
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.virtual-desk-page > .header-div > .logo{
    height: 3rem;
    width: fit-content;
    margin: 1rem 0rem 1rem 3rem;
}

.virtual-desk-page > .header-div > .logo > div{
    font-size: 1.5rem;
}



.virtual-desk-page > .header-div > .nav-bar-div{
    position: absolute;
    top:1rem;
    right: 1rem;
}

.virtual-desk-page > .content-div{
    background-color: white;
    /*size*/
    width: 100vw;
    height: calc(100vh - 5rem);
}

