.virtual-desk-page{

    /*size*/
    width: 100vw;
    height: 100vh;
}

.virtual-desk-page > .header-div{
    background-color: #003049;
    width: 100vw;
    height: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.virtual-desk-page > .header-div > .logo{
    height: 10rem;
    width: fit-content;
    margin: 5rem 0rem 2em 0rem;
}



.virtual-desk-page > .header-div > .nav-bar-div{
    position: absolute;
    top:1rem;
    right: 1rem;
}

.virtual-desk-page > .content-div{
    background-color: white;
    /*size*/
    width: 100vw;
    height: calc(100vh - 17rem);
}

