.send-review-feature{
    background-color: field;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    max-width: 700px;
    height: fit-content;
    padding: 0% 0% 3% 0%;
    border-radius: 10px;
}

.send-review-feature > .title{
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem;
}

.send-review-feature > .send-review-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.send-review-feature > .send-review-form > .id-nota-div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width:  80%;
}

.send-review-feature > .send-review-form > .id-nota-div > input{
    max-width: 30%;
    height: 3rem;
    text-align: center;
    font-size: 1rem;
    margin: 0.5rem;
    border-radius: 3px;
    padding: 0px;
    border: none;
}

.send-review-feature > .send-review-form > .id-nota-div > label{
    max-width: 3%;
    height: 3rem;
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
    border-radius: 3px;
    border: none;

}

.send-review-feature > .send-review-form > input{
    width: 80%;
    height: 3rem;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    padding: 0px;
    border: none;
}

.send-review-feature > .send-review-form > input[type="submit"]{
    
    background-color: #F77F00;
    color: field;
}

.send-review-feature > .send-review-result-div{
    width: 80%;
    margin: 1rem;
    font-size: 1rem;
}

.send-review-feature > .send-review-result-div > .page-link{
    color: #F77F00;
}