.result-div
{
    /*backgorund*/
    background-color: field;

    /*display*/
    display: flex;
    flex-direction: column;

    /*size*/
    width: 100%;
   
    /*position*/
    position: relative;

    /*borders and spaces*/
    margin-bottom: 0.5rem;
    border-radius: 3px;
    border: none;
    padding: 0px;
    outline: solid black 1px;
    outline-offset: -1px;
}

.result-div > .first-line{
    /*display*/
    display: flex;
    flex-direction: row;

    /*position*/
    position: relative;

    /*size*/
    width: 100%;
    height: 3rem
}

.result-div > .first-line > .icon-div{
    /*position*/
    position: absolute;
    top:0rem;
    left: 0rem;
}

.result-div > .first-line > .text{
    /*display*/
    display: flex;
    align-items: center;
    justify-content: center;

    /*position*/
    position: absolute;
    top:0px;
    left: 3rem;

    /*size*/
    height: 2rem;

    /*borders and spaces*/
    padding: 0.5rem;
    
}

.result-div > .first-line > .score-div{
    /*position*/
    position: absolute;
    top:0rem;
    right: 3rem;
}

.result-div > .expansible-box{
    /*display*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
   

    /*position*/
    position: relative;

    /*size*/
    width:100%;
    height:0rem;

    /*border and spaces*/
    border-radius: 3px;

    /*animations*/
    transition: all 0.1s;
}

.result-div:has( > .first-line > .expand-checkbox > input:checked) > .expansible-box{
    /*size*/
    height: auto;

    /*border and spaces*/
    padding: 0.5rem 0 0.5rem 0px;

}

.result-div > .expansible-box > .result-div {
    /*size*/
    width: 90%;

    /*borders and spaces*/
    margin: 0.5rem 5% 0.5rem 5%;
}
