.review-div {
  background-color: field;
  width: 80%;
  height: fit-content;

  border-radius: 10px;
  padding: 1rem;
}

.review-div > .first-line {
  display: flex;
  flex-direction: row;
  height: 3rem;
}

.review-div > .first-line > .username {
  /*display*/
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2rem;


  padding: 0.5rem;
}

.review-div > .text{
    padding-left: 2.5vh;
}
