.user-home-page{
    /*size*/
    width: 100vw;
    height: 100vh;
}

.user-home-page > .left-div{
    /*position*/
    position: absolute;
    top: 0px;
    left: 0px;

    /*size*/
    width: 50vw;
    height: 100vh;

    /*animations*/
    transition: all 1s;
}

.user-home-page > .left-div > .carousel-div > img{
    /*size*/
    width: 50vw;
    height: 100vh;
}


.user-home-page {
   
    /*background*/
    background-color: #003049;

    /*display*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    /*position*/
    position: absolute;
    top: 0vh;
    left: 0vw;
    
    /*size*/
    width: 100vw;
    height: 100vh;
}

.user-home-page  > .nav-bar-div{
    position: absolute;
    top:1vh;
    right: 1vw;
}

.user-home-page  > .logo{
    width: 60vw;
    margin: 15vh 0vw 2vh 0vw;
}

.user-home-page  > .search-feature{
    margin-bottom: 2vh;
    width: 60vw;
}