.user-home-page {
   
    /*background*/
    background-color: #003049;

    /*display*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    /*overflow*/
    overflow: scroll;

    /*position*/
    position: absolute;
    top: 0vh;
    left: 0vw;
    
    /*size*/
    width: 100vw;
    height: 100vh;
}

.user-home-page::-webkit-scrollbar {
    display: none;
}

.user-home-page  > .nav-bar-div{
    /*position*/
    position: absolute;
    top:1rem;
    right: 1rem;
}

.user-home-page  > .logo{
    /*borders and spaces*/
    margin: 6rem 0rem 3rem 0rem;
}

.user-home-page  > .search-feature{
    /*size*/
    width: 90%;
    max-width: 600px;

    /*borders and spaces*/
    margin-bottom: 2vh;
}